body {
/*  padding-top: 50px;*/
  padding-bottom: 20px;
}

#hero {
	margin-right: 80px;
	margin-bottom: 50px;
	width: 250px;
	float: left;
}

#untorch {
	margin-bottom: 50px;
}

div.jumbotron {
	padding: 50px 200px 0px;
	overflow: hidden;
}
/*
h1 {
	font-family: 'Yeseva One', cursive;
}*/

/* Better buttons */

.btn {
    padding: 14px 24px;
    border: 0 none;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
	border-radius:0;
	background-color: #86BF85;
}

.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
}

.btn-primary {
    background-color: #86BF85;
    color: #ffffff;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    background: #33a6cc;
}

.btn-primary:active, .btn-primary.active {
    background: #007299;
    box-shadow: none;
}
