body {
/*  padding-top: 50px;*/
  padding-bottom: 20px;
}

#hero {
	margin-right: 80px;
	margin-bottom: 50px;
	width: 250px;
	float: left;
}

#untorch {
	margin-bottom: 50px;
}

h1 {
/*	font-family: 'Yeseva One', cursive;*/
	font-size:  4em;
}

span {
	color: white;
}

/* Better buttons */

.btn {
    padding: 14px 24px;
    bborder: 0 none;
    font-weight: 700;
	border-radius:0;
/*	border-color: #86BF85;*/
/*	background-color: #86BF85;*/
	margin: 10px;
}


.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
}

.btn-primary {background
    background-color: #86BF85;
    color: #ffffff;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    background: #478E46;
}

.btn-primary:active, .btn-primary.active {
    background: #025E00;
    box-shadow: none;
}

@media only (min-width: 992px) and (max-width: 1199.98px) {
	div.jumbotron {
		padding: 50px 200px 0px;
		overflow: hidden;
	}
}

