body {
/*  padding-top: 50px;*/
  padding-bottom: 20px;
}

#hero {
	margin-right: 80px;
	margin-bottom: 50px;
	width: 250px;
	float: left;
}

#mobhead {
	display: none;
}

#untorch {
	margin-bottom: 50px;
	overflow: hidden;
	max-width: 250px;
}

h1 {
/*	font-family: 'Yeseva One', cursive;*/
	font-size:  4em;
}

span {
	color: white;
}

/* Better buttons */

.btn {
    padding: 14px 24px;
    font-weight: 700;
	background-color: #27CC68;
	margin-top: 10px;
	border: 0;
	border-radius: 0;
}


.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
}

.btn:hover {
	background-color: #478E46;
}

.btn-primary {background
    background-color: #86BF85;
    color: #ffffff;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    background: #478E46;
}

.btn-primary:active, .btn-primary.active {
    background: #025E00;
    box-shadow: none;
}

.mobform {
	display: none;
}

/*@media only (min-width: 992px) and (max-width: 1199.98px) {
	div.jumbotron {
		padding: 50px 200px 0px;
		overflow: hidden;
	}
}*/

@media only screen and (max-width: 1125px) {
	div.jumbotron {
		text-align: center;
	}
	#hero {
		margin: 20px 0;
		float: none;
		width: 200px;
	}
	#untorch {
		display: hidden;
	}
	#mobhead {
		display: inline;
	}
	#nomob {
		display: none;
	}
	h1 {
		font-size: 2.2em;
	}
	h2 {
		font-size: 1.5em;
	}
	form.form-inline {
		padding: 30px;
		display: block;
	}
	#untorch {
		display: none;
	}
	#untorchmob {
		display: inline;
		text-align: center;
		margin: 15%;
		width: 100%;	
	}
	.container hr {
		margin-top: 50px;
	}
}